.battery {
    width: 195px;
    height: 100px;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    padding-left: 25px;
    box-sizing: border-box;
    margin: 30px;

    &::after {
        content: '';
        width: 6%;
        height: 46%;
        background: black;
        position: absolute;
        right: -6%;
        top: 27%;
    }

    &::before {
        content: '';
        width: 30%;
        height: 100%;
        background: linear-gradient(to left, #00FF55, #00C943);
        position: absolute;
        left: 0;
        top: 0;
    }
}

.menu {
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__item {
        width: 100px;
        height: 50px;
        clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%);
        transition: .5s;

        &_first {
            background: linear-gradient(to right top, #FFBD00, #FFDC77);
            transform: translate(-50%);

            &:hover {
                transform: scale(1.2) translate(-35%);
            }
        }

        &_secund {
            background: linear-gradient(to  right top, #00C9FF, #DFFAFF);
            transform: translate(-25%);
            
            &:hover {
                transform: scale(1.2) translate(-15%);
            }
        }

        &_third {
            background: linear-gradient(to right top, #FF00F7, #FBD7FF);
            clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.blok {
    width: 100%;
    height: 250px;
    border: 5px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    font-size: 60px;

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        height: 100%;
        padding: 10px;
    }

    &__item {
        width: 200px;
        height: 100px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen  and (max-width: 1024px) {
            width: 333px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }
}
